#preloader{
  background: black url(gifloader.gif) no-repeat center center;
  background-size: 15%;
  height: 100vh;
  width:100%;
  position: fixed;
  z-index: 100;
}
body{
  overflow: hidden;
  }
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

:root {
  --transition: all 0.7s ease;
  --yellow: #ec9646;
  --dark: #292826;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1.6;
}

/* Scroll Button Functionality Starts */

#btnScrollToTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:#262626;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #ec9646;
  border: none;
  outline: none;
  cursor: pointer;
}

#btnScrollToTop:active{
  background: rgb(12, 214, 12);
}

/* Scroll Button Functionality Ends */

.btn {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 140px;
  display: block;
  margin: 15px auto;
  cursor: pointer;
  transition: var(--transition);
}
.btn:hover {
  opacity: 0.85;
}

.btn a {
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.btn a:visited {
  text-decoration: none;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 8px 0;
}
img {
  width: 100%;
  height: 70vh;
  object-fit: fill;
  display: block;
}
@media (max-width: 500px) {
  body {
    font-size: 14px;
  }
}

/* header */
.header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2)),
    url("images/hotelheader.jpg") center/cover no-repeat;
  min-height: 100vh;
  color: #fff;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
.head-top {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;
  z-index: 10;
}
.head-top span {
  cursor: pointer;
  letter-spacing: 2px;
  transition: var(--transition);
}

.site-name span a {
  text-decoration: none;
  color: #fff;
}

.head-top span a:hover {
  color: var(--yellow);
}
.head-bottom {
  flex: 1;
  text-align: center;
  width: 80vw;
  margin: 0 auto;
}
.head-bottom h2 {
  padding: 22px 0;
  font-size: 45px;
  border-bottom: 1px solid #fff;
}
.head-bottom p {
  opacity: 0.7;
  font-size: 20px;
  margin: 45px auto;
  width: 60vw;
}
.head-btn {
  text-decoration: none;
  border: 3px solid rgb(255, 255, 255);
  color: transparent;
  padding: 15px 30px;
  font-size: 28px;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 0.5s;
  position: relative;
  margin-top: 10px;
}
.head-btn:before {
  content: "Lets Explore";
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 100%;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(0) rotatey(0);
  opacity: 0;
}
.head-btn:hover:before {
  transform: scale(1) rotatey(360deg);
  left: 0;
  opacity: 1;
}
.head-btn:after {
  content: "Lets Explore";
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  background: rgb(34, 34, 34);
  font-size: 28px;
  top: 0;
  left: 0;
  font-family: sans-serif;
  letter-spacing: 5px;
  transition: all 1s;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: scale(1) rotatey(0);
  opacity: 1;
}
.head-btn:hover:after {
  transform: scale(0) rotatey(360deg);
  left: -100%;
  opacity: 0;
}
@media (max-width: 500px) {
  .head-btn {
    font-size: 17px;
  }
  .head-bottom h2 {
    font-size: 28px;
  }
  .head-bottom p {
    font-size: 17px;
    margin: 20px auto;
  }
}

/* side nav */

.scroll-bg {
  width: 100%;
  height: 129.6px;
  position: fixed;
  top: -53px;
  z-index: 9;
}

.scroll-bg.active {
  background-color: var(--dark);
  transition: 0.3s ease-out;
}

.site-nav {
  display: none;
}

.sidenav {
  color: #fff;
  width: 100%;
}

.navbar {
  margin-top: 50px;
  list-style: none;
  padding: 12px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: fixed;
  top: -53px;
  right: 357px;
  width: 35%;
  z-index: 10;
}
.navbar li a {
  color: #fff;
  text-transform: capitalize;
  text-decoration: none;
  padding: 15px 0;
  display: block;
  opacity: 0.8;
  letter-spacing: 1.5px;
  transition: var(--transition);
}
.navbar li a:hover {
  padding-left: 8px;
  color: var(--yellow);
}

.btn-container {
  display: flex;
  width: 365px;
  align-items: center;
  height: 75.6px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
}

.sign-up,
.log-in {
  background: var(--yellow);
  color: #fff;
}

.sign-up a,
.log-in a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 1000px) {
  .site-nav {
    display: block;
    position: fixed;
    right: 5%;
    font-size: 20px;
  }

  .site-name {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .sidenav {
    /* width: 100vw; for 400px */
    position: fixed;
    top: 0;
    bottom: 0;
    right: -100%;
    width: 300px;
    padding: 20px;
    transition: var(--transition);
    z-index: 10;
    background: var(--dark);
  }

  .sidenav.show {
    right: 0;
  }

  .cancel-btn {
    position: absolute;
    right: 25px;
    font-size: 22px;
    cursor: pointer;
    transition: var(--transition);
  }

  .cancel-btn:hover {
    opacity: 0.7;
  }

  .navbar {
    display: block;
    position: static;
  }

  .navbar li a {
    border-bottom: 0.5px solid rgba(249, 211, 66, 0.3);
  }

  .btn-container {
    display: block;
    width: auto;
    height: auto;
    position: static;
  }

  .btn-container span {
    display: none;
  }
}

@media (max-width: 500px) {
  .header {
    padding-top: 15px;
  }

  .site-name {
    width: 60%;
  }

  .site-nav {
    top: 30px;
  }

  .scroll-bg {
    height: 150px;
  }

  .sidenav {
    right: -110%;
  }
}

@media (max-width: 350px) {
  .site-name,
  .site-nav {
    font-size: 16px;
  }
}

/** title */
.title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 30px;
  color: var(--yellow);
  border-bottom: 5px solid var(--dark);
  width: 235px;
  margin: 15px 0;
}

.sec-width {
  width: 85vw;
  margin: 0 auto !important;
}

/* service */
.services {
  margin: 40px 0;
}
.service {
  display: flex;
  margin: 30px 0;
}
.service-icon {
  flex: 30%;
  align-self: flex-start;
  font-size: 48px;
  color: #252525;
}
.service-content {
  padding-left: 20px;
}
.service-content h2 {
  opacity: 0.7;
}
.service-content button {
  margin-left: 0;
  margin-right: 0;
  background: var(--yellow);
  color: #fff;
}
@media (min-width: 992px) {
  .services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
  .title h2 {
    font-size: 10px !important;
  }
}
@media (max-width: 500px) {
  .title h2 {
    font-size: 24px;
  }
}

/* booking form */
.book {
  background: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85)),
    url("images/banner-img.jpg") center/cover no-repeat;
  color: #fff;
  padding: 40px 60px;
}
.book-form {
  display: grid;
}
.form-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.book-form input[type="submit"] {
  margin: 18px 0 0 0;
  background: var(--dark);
  color: #fff;
  border: 1px solid #fff;
}
.book-form label,
.book-form input {
  width: 100%;
}
.book-form label {
  font-weight: 600;
  word-spacing: 5px;
  padding-bottom: 8px;
}
.book-form input:not(.btn) {
  margin: 4px 0 16px 0;
  padding: 12px 15px;
  border-radius: 5px;
  font-size: 17px;
  border: none;
}
.book-form input:focus {
  outline: 0;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.4);
}
@media (min-width: 768px) {
  .book-form {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
  }
}
@media (min-width: 1170px) {
  .book-form {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1370px) {
  .book-form {
    grid-template-columns: 2fr 2fr 1fr 1fr 1fr 2fr;
  }
  .book {
    height: 40vh;
    display: grid;
  }
}
@media (max-width: 500px) {
  .book {
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* room */

.rooms {
  margin: 40px 0;
}
.room {
  margin: 45px 0;
  padding-bottom: 25px;
  background: var(--dark);
  color: #fff;
}
.room-text {
  padding: 5px 20px;
}
.room-text h3 {
  font-size: 24px;
}
.room-text ul {
  list-style-type: none;
  margin: 15px 0;
}
.room-text ul li {
  padding: 7px 0;
}
.room-text ul li i {
  color: var(--yellow);
  margin-right: 10px;
}
.cardText {
  width: 100%;
  height: 35vh;
}
.rate {
  opacity: 0.8;
}
.rate span {
  font-size: 40px;
  font-weight: 900;
  color: var(--yellow);
}
.room-image {
  overflow: hidden;
  cursor: pointer;
}
.room-image img {
  transition: var(--transition);
}
.room-image:hover img {
  transform: scale(1.1);
}
@media (min-width: 900px) {
  .rooms-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .room {
    flex: 0 0 calc(50% - 20px);
    margin: 10px;
  }
}
@media (min-width: 1368px) {
  .rooms-container {
    flex-direction: column;
  }
  .room {
    display: flex;
    padding-bottom: 0;
    margin: 5px 0;
  }
  .room-image {
    flex: 1;
  }
  .room-image img {
    height: 100%;
  }
  .room-text {
    flex: 1;
  }
  .room:nth-child(even) {
    flex-direction: row-reverse;
  }
}

/* customers */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700&display=swap');

.customers {
  margin-top: 40px;
  padding: 40px 0px 10px 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("images/reviewbanner.jpg") center/cover no-repeat fixed;
}

.rating i {
  margin: 10px 0;
  color: var(--yellow);
}

.container .cards span{
  color: white;
}

.container{
   position: relative;   
   height: 600px;
   display:flex;
   justify-content: space-between;
   margin-top: 50px;
   margin-bottom: 50px;
}
.container .cards{
    position: relative;
    width: 400px;
    height: 600px;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    border-radius: 10px;
}

.container .cards:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    widows: 50%;
    height: 100%;
    background: rgba(255,255,255,.1);
    z-index: 20;
    pointer-events: none;
}

.container .cards .imgBx{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.container .cards .imgBx img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin-bottom: 15px;
  padding-right: 0;
}


.container .cards .imgBx h2{
    margin: 10px 0 0;
    padding: 0;
    color: #fff;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.container .cards .overlay{
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    cursor: pointer;
    border-radius: 50%;
    transition: 0.5s;
}
.container .cards .overlay:hover{
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    box-shadow: none;
    opacity: 0.9;
    border-radius: 10px;
}
.container .cards .overlay:before{
    content: 'Read';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: 0.5s;
    color: #000;
}
.container .cards .overlay:hover:before{
    display: none;
    transition-delay: 0s;
}
.container .cards .content{
    padding:40px;
    box-sizing: border-box;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition:0s;
    color: #fff;
}
.container .cards .overlay:hover ~ .content{
    opacity: 1;
    visibility: visible;
    transition:0.2s;
    transition-delay: 0.5s;
    color: #000;
}
.container .cards .content span{
  margin-top: 10px;
  color: #000;
}

.container .cards .content h2{
  font-family: "Poppins";
    margin: 20px 0px;
    padding: 0;
}
.container .cards .content p{
   font-size: 15px;
   font-family: "Poppins";
}

/* footer */
.footer {
  background: var(--dark);
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}
.footer-container {
  width: 85vw;
  margin: 0 auto;
  padding: 30px;
}
.footer-container p,
.footer-container a,
.footer-container span {
  opacity: 0.8;
}
.footer a {
  display: block;
  color: #fff;
  text-decoration: none;
}
.social-icons {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 15px 0;
}
.social-icons li {
  margin: 0 10px;
  width: 50px;
  height: 50px;
  background: #2e2e2e;
  border-radius: 50%;
  transition: var(--transition);
  cursor: pointer;
}
.social-icons li:hover {
  background: #fff;
  color: #2e2e2e;
}
.contact-item span {
  display: block;
}
@media (min-width: 900px) {
  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
  }
}
@media (min-width: 1170px) {
  .footer {
    text-align: left;
  }
  .footer-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-container div:nth-child(1) p {
    padding-right: 20px;
  }
  .contact-item {
    display: grid;
    grid-template-columns: 10% 90%;
    margin-bottom: 15px;
    align-items: center;
  }
}

.showModal {
  position: fixed;
  background: transparent;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}
